---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectCard from "../components/ProjectCard.astro";
const allProjects = await getCollection("projects");
const sortedProjects = allProjects.sort(
  (a, b) => a.data.sortOrder - b.data.sortOrder,
);
const pageTitle = "Work";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="page-content page-content-projects">
    <div class="projects">
      {
        sortedProjects.map((project) => (
          <ProjectCard
            url={`/projects/${project.slug}`}
            title={project.data.title}
            description={project.data.description}
            thumbnailSrc={project.data.thumbnailSrc}
            thumbnailAlt={project.data.thumbnailAlt}
          />
        ))
      }
    </div>
  </div>
</BaseLayout>
