---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectCard from "../components/ProjectCard.astro";
const allProjects = await Astro.glob("../pages/projects/*.mdx");
const pageTitle = "Work";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="page-content page-content-projects">
    <div class="projects">
      {
        allProjects.map((post) => (
          <ProjectCard
            url={post.url}
            title={post.frontmatter.title}
            description={post.frontmatter.description}
            imageSrc={post.frontmatter.imageSrc}
            imageAlt={post.frontmatter.imageAlt}
          />
        ))
      }
    </div>
  </div>
</BaseLayout>
