---
import { Image } from "astro:assets";
const { url, title, description, thumbnailSrc, thumbnailAlt } = Astro.props;
---

<div class="project-card">
  <div class="project-card-content">
    <a href={url} class="project-card-name">
      {title}
    </a>
    {description && <p class="project-card-description">{description}</p>}
  </div>
  <Image src={thumbnailSrc} alt={thumbnailAlt} class="project-card-image" />
</div>
